<div id="dropdown-{{zone.nom|replace({" ":"-"})}}-{{nom|replace({" ": "-"})}}" class=" hidden bg-white w-full shadow dark:bg-gray-700">
    {% include "home/_tableDropDown.html.twig" with {"data":content} %}
</div>