{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/home/home-leaflet.js') }}"></script>
{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
     <style>
        table td>div{
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
            width: 100px;
            height: 50px;
            border-radius: 5px;
        }
        .aucun{
            background-color:  #f0f0f0;
        }
        .la{
            background-color: green;
        }
        .pasLa{
            background-color: red;
            color:white;
        }
     </style>
{% endblock %}

{% block body %}
    <div id="map" style="height: 500px;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        var dataZones = {{ dataZones|json_encode|raw }};
        var dataEquipements = {{ dataEquipements|json_encode|raw }};

        createMap(dataZones, dataEquipements);
    </script>
    
    

    
    
{% endblock %}
