{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/home/home-leaflet.js') }}"></script>
{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
     <style>
        table{
            margin: auto
        }
        table td>div{
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
            width: 100px;
            height: 50px;
            border-radius: 5px;
        }
        .aucun{
            background-color:  #f0f0f0;
        }
        .la{
            background-color: #73ff73;
        }
        .pasLa{
            background-color: #ff7373;
            color:white;
        }
        .leaflet-popup-content{
            height: 200px;
            width: 350px;
            overflow-y: scroll;
            width: fit-content;
        }
        ::-webkit-scrollbar {
            display: none;
        }
     </style>
{% endblock %}

{% block body %}
    <div id="map" style="height: 500px;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        var dataZones = {{ dataZones|json_encode|raw }};
        var dataEquipements = {{ dataEquipements|json_encode|raw }};
        console.log(dataZones);
        createMap(dataZones, dataEquipements);
    </script>
    {% include "home/_dropDowns.html.twig"  %}
    {% for zone in dataZones %}
        
    {% endfor %}
{% endblock %}
