{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block javascripts %}
{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
{% endblock %}

{% block body %}
    <div id="map" style="height: 500px;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script>
        // Initialisation de la carte
        var map = L.map('map').setView([49.118480, -1.066835], 20);

        // Ajout des tuiles OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(map);

        // Récupération des coordonnées du contrôleur PHP via Twig
        var polygonCoordinates = {{ coordonees|json_encode|raw }};
        var colors={{types|json_encode|raw}};
        var names={{names|json_encode|raw}};
        for(var i=0;i<polygonCoordinates.length;i++){
            var options=[];
            for(var j=0;j<polygonCoordinates[i][0].length;j++){
                options.push([polygonCoordinates[i][0][j],polygonCoordinates[i][1][j]]);
            }
            var color="black";
            if(colors[i]=="terrain"){
                color="blue";
            }
            else if(colors[i]=="batiment"){
                color="red";
            }
            var polygon = L.polygon(options, {
                color: color,        // Couleur du contour du polygone
                fillColor: color,  // Couleur de remplissage du polygone
            }).addTo(map);

            var center = polygon.getBounds().getCenter();

            polygon.bindTooltip(colors[i] +" "+ names[i], { 
                permanent: true,   // Permet d'afficher le tooltip en permanence
                direction: 'center', // Centrer le tooltip par rapport à la position
                className: 'custom-tooltip'  // Vous pouvez personnaliser le style du tooltip
            }).openTooltip(center);
        }
        // Création du polygone avec des options de couleur
        

        // Optionnel: Ajout d'un popup au clic sur le polygone
        polygon.bindPopup("Voici mon polygone coloré!");
    </script>
    
    

    
    
{% endblock %}
