{% extends 'base.html.twig' %}

{% block title %}New TypeZone{% endblock %}

{% block body %}
    <h1>Create new TypeZone</h1>

    {{ include('type_zone/_form.html.twig') }}

    <a href="{{ path('app_type_zone_index') }}">back to list</a>
{% endblock %}
